
body {
  background: #ffffff;
  color: #04174f;
}
canvas {
  background:#04174f;
  width: 100%;
  padding: 0;
  margin-top: 2rem;
  margin: 0 auto;
  
  /*margin-bottom: 1rem;*/
  display: block;
}
/* The navigation bar */
.navbar-custom {
  overflow: hidden;
  z-index:1;
  background-color: #04174f;
 /* position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: #04174f;
}

/* Main content */
.main {
  margin-top: 100px; /* Add a top margin to avoid content overlay */
}

#about {
  margin-top: 100px; /* Add a top margin to avoid content overlay */
}

#me{
  position: sticky;
  top: 60; 
  z-index: 1;
}
/*
.bg-img {
  background-image: url("images/version_web.jpg");
  min-height: 380px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
*/
/*
.btn{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}*/